<%-include("./partials/head") %> 
<%-include("./partials/header") %> 

<body>
    <!--detalle del producto-->
    <div class="container-fluid">
        <div class="container">
            
             <form class="row" action="/products/show/<%= producto.id %>?_method=PUT" method="POST" enctype="multipart/form-data">

                    <div class="col-12 col-md-12 col-lg-6 imagen ">
                        <h2 class="edit"><%= title %> </h2>
                        <figure>
                        <img src="/images/products/<%= producto.image %>" class= "mr-3 detalle pt-4" alt="..." >
                        </figure>
                        <input type="file" class="form-control" name="image">
                    </div>

        
                
                        <div class="col-12 col-md-12 col-lg-6 formulario">
                            <br>
                            <input class="form-control" type="text" value="<%= producto.name%>" name="name"><br>
                            <label for="">DESCRIPCION</label>
                            <textarea class="form-control" rows="7"  id="" name="description"><%= producto.description %></textarea><br>
                            <label for="">PRECIO</label>
                            <input type="text" class="form-control" value="<%=producto.price%>" name="price"><br>

                            <div>
                                <label for="tipo" id="tipo">CATEGORIA:</label>
                                <select name="category" id="categ">
                                  <option value="vacio"></option>
                                  <option value="placa">PLACA DE VIDEO</option>
                                  <option value="pcarmadas">PC ARMADAS</option>
                                  <option value="hardware">HARDWARE</option>
                                  <option value="software">SOFTWARE</option>
                                  <option value="notebooks">NOTEBOOKS</option>
                                  <option value="perifericos">PERIFERICOS</option>
                                  <option value="impresoras">IMPRESORAS</option>
                                  <option value="accesorios">ACCESORIOS</option>
                                  <option value="combosactualizados">COMBOS ACTUALIZADOS</option>
                                </select>
                              </div>


                            <div class="col-12 d-flex justify-content-end">
                                <a href="/products/edit"><button class="btn btn-danger mr-2" type="button">Cancelar</button></a>
                                <button class="btn btn-info" type="submit">Guardar</button>
                            </div>

                            
                        </div>
                
            </form>

            
        </div>
    </div>


    <!--/detalle del producto-->

    <%-include("./partials/footer") %>
</html>