<%-include("./partials/head") %> 
<%-include("./partials/header") %> 

<body>
    <!--detalle del producto-->
    <div class="container-fluid">
        <div class="container">
            
             <form class="row" action="/products/show/<%= producto.id %>?_method=PUT" method="POST" enctype="multipart/form-data">

                    <div class="col-12 col-md-12 col-lg-6 imagen ">
                        <h2 class="edit"><%= title %> </h2>
                        <figure>
                        <img src="/images/products/<%= producto.imagen %>" class= "mr-3 detalle pt-4" alt="img" >
                        </figure>
                        <input type="file" class="form-control" name="imagen">
                    </div>

        
                
                        <div class="col-12 col-md-12 col-lg-6 formulario">
                            <br>
                            <input class="form-control" type="text" value="<%= producto.nombre%>" name="nombre"><br>
                            <label for="">DESCRIPCION</label>
                            <textarea class="form-control" rows="7"  id="" name="descripcion"><%= producto.descripcion %></textarea><br>
                            <label for="">PRECIO</label>
                            <input type="text" class="form-control" value="<%=producto.precio%>" name="precio"><br>

                        <div class="form-group col-12 col-xl-6">
                         <label for="Titulo"></label>
                         
                        <select name="categoria" id="categoria" class="form-control <%= (typeof old != 'undefined' && old.categoria)?"is-valid":(typeof errors != 'undefined' && errors.categoria)?"is-invalid": ""  %>">

                        <option value=" <%= producto.categoria.id %> "> <%= producto.categoria.nombre %></option>
                        <% if (typeof oldCategoria != 'undefined') { %>

                      <option value="<%= old.categoria %> " selected><%= oldCategoria %> </option>
                        <% } %>
                        <% categorias.forEach(categoria => { %>
                        <option value="<%= categoria.id %>"><%= categoria.nombre %> </option>
                        <% }) %>>
                        </select>
                        <small id="errorCategoria" class="text-danger"><%= (typeof errors != 'undefined' && errors.categoria)?errors.categoria.msg: "" %> </small>
                    </div>



                            <div class="col-12 d-flex justify-content-end">
                                <a href="/products/edit"><button class="btn btn-danger mr-2" type="button">Cancelar</button></a>
                                <button class="btn btn-info" type="submit">Guardar</button>
                            </div>

                            
                        </div>
                
            </form>

            
        </div>
    </div>


    <!--/detalle del producto-->

    <%-include("./partials/footer") %>
</html>