<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %> 
<body>
    <%- include('partials/header') %> 
    <section class=" conteiner-fluid principal">
        <div class="container">
          <div>
              <div class="col-12 titulo">
                <br><h2><%= title %></h2><br>
              </div>
    
            <div class="row">   
                <% productos.forEach(producto => { %>
     
                                <div class="col-4 card ">
                                    <img class="card-img-top" src="/images/products/<%= producto.image %>" alt="Card image cap">
                                    <div class="card-body">
                                      <h5 class="card-title"><%= producto.name %></h5>
        
                                      <a href="/products/detalle/<%= producto.id %> " class="btn btn-outline-danger">VER</a>
                                    </div>
                                </div>

        
                <% }) %>
            </div>
            
            
            </div>
        </div>
      </section>
    <%- include('partials/footer') %> 

</body>
</html>