<%-include("./partials/head") %> 
<script src="/javascripts/editValidator.js"></script>
<%-include("./partials/header") %> 

<body>
    <!--detalle del producto-->
    <div class="container-fluid conte">
        <div class="container">
            
             <form id="formulario" class="row" action="/products/show/<%= producto.id %>?_method=PUT" method="POST" enctype="multipart/form-data">

                    <div class="col-12 col-md-12 col-lg-6 imagen ">
                        <h2 class="edit"><%= title %> </h2>
                        <figure>
                        <img src="/images/products/<%= producto.imagen %>" class= "mr-3 detalle pt-4 " alt="img" id="vista">
                        </figure>
                        <input type="file" class="form-control"  name="imagen" id="imagen" >
                        <small id="errorImagen" class="text-danger"> </small>
                    </div>

        
                
                        <div class="col-12 col-md-12 col-lg-6 formulario">
                            <br>
                            <div>
                                <input class="form-control" type="text" value="<%= producto.nombre%>" name="nombre" id="nombre">
                                <small id="errorNombre" class="text-danger"> </small>
                            </div><br>
                        <div>
                            <label for="">DESCRIPCION</label>
                            <textarea class="form-control" rows="7"  id="descripcion" name="descripcion"><%= producto.descripcion %></textarea><br>
                            <small id="errorDescripcion" class="text-danger"> </small>
                            
                        </div>
                        <div>
                            <label for="">PRECIO</label>
                            <input type="text" class="form-control" value="<%=producto.precio%>" name="precio" id="precio"><br>
                            <small id="errorPrecio" class="text-danger"> </small>
                            </div>

                        <div class="form-group col-12 col-xl-6">
                         <label for="Titulo"></label>
                         
                        <select name="categoria" id="categoria" class="form-control">
                        <option value=" <%= producto.categoria.id %> "> <%= producto.categoria.nombre %></option>
                        
                        <% categorias.forEach(categoria => { %>
                        <option value="<%= categoria.id %>"><%= categoria.nombre %> </option>
                        <% }) %>>
                        </select>
                        <small id="errorCategoria" class="text-danger"> </small>
                    </div>

                    <div class="form-row d-flex justify-content-between">
                        <span id="msgError" class="text-danger"></span>
                      </div>

                </div>
                



                            <div class="col-12 d-flex justify-content-end">
                                <a href="/products/edit"><button class="btn btn-danger mr-2" type="button">Cancelar</button></a>
                                <button class="btn btn-info" type="submit">Guardar</button>
                            </div>

                            
                        </div>
                
            </form>

            
        </div>
    </div>


    <!--/detalle del producto-->

    <%-include("./partials/footer") %>
</html>