<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %> 
<body>
    <%- include('partials/header') %> 
    <section class="conteiner-fluid principal">
        <div class="container">
            <div class="">
              <div class="col-12 titulo">
                <br><h2><%= title %></h2><br>
              </div>


                <div class="row">
                    <% productos.forEach(producto => { %>
             
                            <div class="col-12 col-md-6 col-lg-4 card ">
                                <img class="card-img-top" src="/images/products/<%= producto.imagen %>" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title"><%= producto.nombre %></h5>
                                </div>
                                 <!--edicion-->
                                 
                                <div class="d-flex justify-content-around">
                                <form action="/products/detalle/<%= producto.id %>" method="GET">
                                <button class="btn btn-outline-light">
                                    <h4 class="fas fa-info-circle text-info"></h4>
                                </button>
                                </form>
                                <form action="/products/show/<%= producto.id %>" method="GET">
                                <button class="btn btn-outline-light">
                                    <h4 class="fas fa-edit text-primary"></h4>
                                </button>
                                </form>
                                
                                <form action="/products/delete/<%= producto.id %>?_method=DELETE"
                                method="POST">
                                <button class="btn btn-outline-light" type="submit">
                                    <h4 class="fas fa-trash-alt text-danger"></h4>
                                </button>
                                </form>
                                </div>
                            </div>
                
                    <% }) %>
              
                </div>

            
            </div>
        </div>
      </section>
    <%- include('partials/footer') %> 

</body>
</html>